* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box {
    height: 150px;
    border-radius: 20px;
    text-align: center;
    line-height: 150px;
    color: #fff;
    padding: 0 30px;
}

.box-access {
    background-color: rgba(0, 255, 0, 0.5);
}

.box-noaccess {
    background-color: rgba(255, 0, 0, 0.5);
}